@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Open Sans' sans-serif;
}

input::placeholder, textarea::placeholder {

  color: #fff;
  
}
.client-img{
  min-width: 60% !important;
  min-height: 60% !important;
}

.client-img2{
  min-width: 60% !important;

}

.client-img4{
  min-width: 60% !important;
  min-height: 90% !important;
}

.about-img{
  position: relative;
  min-height: 50% !important;
  top:-3rem !important;
}